@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin tablet {
    @media(min-width: 540px){
        @content;
    }
}

@mixin desktop {
    @media(min-width:1025px) {
        @content;
    }
}