// primary-colors
$green-lighter: hsl(148, 38%, 91%);
$green-medium: hsl(169, 82%, 27%);
$error-text: hsl(0, 66%, 56%);

// neutral-colors
$white: hsl(0, 0%, 100%);
$gray-medium: hsl(186, 15%, 59%);
$gray-darker: hsl(187, 24%, 22%);

// sizes
$card-max-width: 600px;