@use 'mixins';
@use 'variables';

@font-face {
    font-family: 'Karla';
    src: url(../assets/fonts/static/Karla-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

    @font-face {
        font-family: 'Karla';
        src: url('../assets/fonts/static/Karla-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

body {
    @include mixins.flex-center;
    background-color: variables.$green-lighter;
    overflow-x: hidden;
    color: variables.$green-medium;
    padding: 10% 5%;
}

.hidden {
    border: none;
}

.visually-hidden {
    display: none;
}

.massageSent {
    display: none;
    // display: block;
    // position: absolute;
    // margin: 0 1rem;
    // top: 1rem;
    background-color: variables.$gray-darker;
    color: variables.$gray-medium;
    box-sizing: border-box;
    padding: 5%;
    border-radius: 1rem;

    header {
        display: flex;
        margin-bottom: 3%;
        h2 {
            color: white;
            margin-left: 3%;
        }
    }
}


.card {
    background-color: variables.$white;
    padding: 5%;
    border-radius: 20px;

    h1 {
        font-size: 1.5rem;
        margin-bottom: 10%;
        color: variables.$gray-darker
    }

    p {
        @include mixins.flex-column;
        margin-bottom: 10%;
    }

    input {
        border: 1px solid variables.$gray-medium;
        border-radius: .5rem;
        height: 2.5rem;
    }

    label {
        margin-bottom: 3%;
    }

    &-form {
        &-error {
            // display: none;
            color: variables.$error-text;
        }
    }

    &-form-queryType {
        label {
            margin-bottom: 0;
        }

        input {
            margin-right: 5%;
            height: auto;

            &::before {
                content: '';
                background-image: url('../assets/images/icon-radio-selected.svg');
                background-size: cover;
            }
        }

        h2 {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 3%;
        }

        p {
            flex-direction: row;
            align-items: center;
            border: 1px solid variables.$gray-medium;
            border-radius: .5rem;
            padding: 4% 8%;
            margin-bottom: 5%;
        }
    }

    &-form-massage {
        margin-top: 5%;

        textarea {
            height: 12rem;
            border-radius: 1rem;
            border: 1px solid variables.$gray-medium;
        }
    }

    &-form-consent {
        p {
            display: grid;
            grid-template-columns: min-content auto;
            grid-template-rows: 1fr auto;
            margin: 0 0 7%;

            input {
                align-self: center;
                justify-self: start;
                width: 1rem;

                &::before {
                    content: '';
                    background-image: url(../assets/images/icon-checkbox-check.svg);
                    background-size: cover;
                }
            }

            label {
                margin: 0 0 0 5%;
                align-self: center;
            }

            span {
                grid-column: span 2;
            }
        }
    }

    button {
        background-color: variables.$green-medium;
        color: variables.$white;
        padding: 5% 0;
        border: none;
        border-radius: .7rem;
        width: 100%;
    }
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 3%;

    a {
        font-size: 0.7rem;
        color: hsl(228, 45%, 44%);
    }
}